#ルート全て除外
/*
#除外ルールから外すファイル，ディレクトリ
!/.gitignore
!/backend
!/frontend

!/docker-compose.yml

#backend以下全て除外
/backend/*
#除外ルールから外すファイル，ディレクトリ
!/backend/Dockerfile
!/backend/requirements.txt

#frontend以下全て除外
/frontend/*
#除外ルールから外すファイル，ディレクトリ
!/frontend/Dockerfile

